function PieceBlueprint.get 1
push argument 0
push static 7
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
pop pointer 1
push that 0
return
function PieceBlueprint.i_idx 0
push constant 0
return
function PieceBlueprint.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 4
call Array.new 1
pop this 0
push constant 0
push this 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function PieceBlueprint.uninit 0
push constant 1
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function PieceBlueprint.apply 3
push argument 0
pop pointer 0
push constant 5
call Array.new 1
pop local 0
push constant 4
push local 0
add
push constant 0
push constant 0
call Square.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label WHILE_EXP0
push local 2
push constant 4
lt
not
if-goto WHILE_END0
push local 2
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 2
push local 0
add
push local 1
call Square.x 1
push argument 1
add
push local 1
call Square.y 1
push argument 2
add
call Square.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Square.collided 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
push local 0
add
push constant 2
neg
push constant 2
neg
call Square.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function PieceBlueprint.init_statics 1
push constant 7
call Array.new 1
pop static 7
push constant 4
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 3
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 2
push constant 3
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 2
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 0
push constant 2
call Square.new 2
push constant 1
push constant 2
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 3
push constant 2
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 1
push constant 3
call Square.new 2
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 7
add
push static 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 1
push constant 2
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 1
push constant 2
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 1
push constant 2
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 1
push constant 2
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 7
add
push static 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 1
push constant 2
call Square.new 2
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 1
push constant 2
call Square.new 2
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 7
add
push static 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 3
push constant 0
push static 3
add
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
push constant 2
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 3
add
push constant 2
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 3
add
push constant 0
push constant 2
call Square.new 2
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 3
add
push constant 1
push constant 2
call Square.new 2
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 0
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 7
add
push static 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 4
push constant 0
push static 4
add
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 0
push constant 0
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 4
add
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 2
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 4
add
push constant 1
push constant 2
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 4
add
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 2
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 7
add
push static 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 5
push constant 0
push static 5
add
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 0
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 5
add
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
push constant 2
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 5
add
push constant 2
push constant 2
call Square.new 2
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 5
add
push constant 0
push constant 2
call Square.new 2
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 7
add
push static 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 6
push constant 0
push static 6
add
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
push constant 2
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 6
add
push constant 1
push constant 2
call Square.new 2
push constant 2
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 6
add
push constant 0
push constant 2
call Square.new 2
push constant 0
push constant 1
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 2
push constant 1
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 6
add
push constant 1
push constant 2
call Square.new 2
push constant 1
push constant 1
call Square.new 2
push constant 0
push constant 0
call Square.new 2
push constant 1
push constant 0
call Square.new 2
call PieceBlueprint.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 7
add
push static 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
